<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
<listeners>
<listener class-name="com.qa.listeners.TestsListener"/>
</listeners>

   <test name="KYC Documents Page Tests">
  <parameter name="platformName" value="Android"/>
  <parameter name="platformVersion" value="8.1"/>
  <parameter name="devicename" value="Android Emulator"/>
    <classes>
      <class name="com.qa.tests.KYCUploadDocumentsPageTests"/>
      <!--   <methods>
     <include name="checkSignInButton"/> 
      </methods>-->
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->
  

